/* Ref:  http://www.w3schools.com/css/css_syntax.asp */
body, html {
		height: 100%
		width: 100%

}
body { /* General style rules for the body section */
 /*background-color:black;*/
	color:lightblue;
	text-decoration:underline;
	background-image: url(images/error8.png);
	background-repeat: no-repeat;
	background-size: cover;
}

h3 { /* Matches elements with h3 tag */
	color: lightblue;
	text-decoration: underline;
}

#divimage {
	position: absolute;
	left: 40.66%;
	top: 30.39%;
}

#div2 {
	position: absolute;
  left: 55.66%;
  top: 60.39%;
}

#div3 {
	position: absolute;
	left: 20.66%;
	top: 55.39%;
}

#div4 {
	position: absolute;
	left: 10.66%;
	top: 68.39%;
}

#div5 {
	position: absolute;
	left: 65.66%;
	top: 77.39%;
}

#div6 {
	position: absolute;
	left: 54.66%;
	top: 87.39%;
}

#div7 {
	position: absolute;
	left: 32.66%;
	top: 45.39%;
}

#div8 {
	position: absolute;
	left: 12.66%;
	top: 20.39%;
}

#div9 {
	position: absolute;
	left: 11.66%;
	top: 10.39%;
}

#div10 {
	position: absolute;
	left: 55.66%;
	top: 28.39%;
}

#div11 {
	position: absolute;
	left: 58.66%;
	top: 13.39%;
}

#div12 {
	position: absolute;
	left: 67.66%;
	top: 23.39%;
}

#div13 {
	position: absolute;
	left: 45.66%;
	top: 50.39%;
}

#div14 {
	position: absolute;
	left: 40.66%;
	top: 30.39%;
}

#div15 {
	position: absolute;
	left: 20.66%;
	top: 40.39%;
}

#div16 {
	position: absolute;
	left: 15.66%;
	top: 37.39%;
}

#div17 {
	position: absolute;
	left: 10.66%;
	top: 30.39%;
}

#div18 {
	position: absolute;
	left: 9.66%;
	top: 20.39%;
}
